body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: greenyellow;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    border: 1px solid black;
    border-color: black;
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.4);
    padding: 20px;
}
